exp: C3PS_effectofsemi_finetune_lr0001
method: C3PS # use which semi-supervised method [MT,EM,CCPS,DAN]
backbone: unet_3D # backbone model
gpu: '3,4'
root_path: '../data/BraTS2019'
continue_training: True
model1_checkpoint: "../model/C3PS_2_MMWHS_condition/unet_3D/model1_iter_29600_dice_0.7324"
model2_checkpoint: "../model/C3PS_2_MMWHS_condition/unet_3D/model2_iter_28600_dice_0.7509.pth"
current_iter_num: 10000
began_semi_iter: 2000 #2000
began_condition_iter: 4000 #4000
began_eval_iter: 1000
max_iterations: 30000
use_CAC: True   # whether use Context-Aware-Consistency
deterministic: 1
base_lr: 0.001
seed: 1337
ema_decay: 0.99
consistency_type: mse
consistency: 0.1
consistency_rampup: 200.0
DATASET:
  name: MMWHS   # choose which dataset
  labeled_num: 2
  labeled_bs: 1
  batch_size: 2
  patch_size: [96,160,160]
  MMWHS: # config for MMWHS dataset
    num_classes: 8
    train_list: "../data/MMWHS/MMWHS_train.txt"
    test_list: "../data/MMWHS/MMWHS_test.txt"
    training_data_num: 14
    testing_data_num: 6
  BCV: # config for BCV dataset
    num_classes: 6
    train_list: "../data/BCV/train.txt"
    test_list: "../data/BCV/test.txt"
    training_data_num: 24
    testing_data_num: 6 